root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.proto]
indent_size = 2
charset = utf-8

[*.cs]
indent_size = 4
charset = utf-8

[*.{csproj,props,targets}]
indent_size = 2

[*.sh]
end_of_line = lf
