name: build
on:
  push:
    branches:
      - main
      - release/*

  pull_request:
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '3.1.405'

      - name: Run batch build script
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: build.cmd

      - name: Run bash build script
        if: matrix.os == 'macos-latest'
        run: ./build.sh

      - name: Archive Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/src/SymbolCollector.Android/bin/release/*Signed.apk
            ${{ github.workspace }}/src/SymbolCollector.Console/osx-x64/
            ${{ github.workspace }}/src/SymbolCollector.Console/linux-x64/
            ${{ github.workspace }}/src/SymbolCollector.Console/linux-musl-x64/
            ${{ github.workspace }}/src/SymbolCollector.Console/linux-arm/
            ${{ github.workspace }}/src/SymbolCollector.Server/server/